.principal {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.principal nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.principal nav a {
  text-decoration: none;
  color: var(--color-text);
}
.principal nav a:hover {
  color: var(--color-selected);
}
.principal nav .sesion {
  padding: 0.5rem;
  background-color: var(--color-bg);
  border-radius: 8px;
  border: solid 1px var(--color-text);
  color: var(--color-text);
}
.principal nav .sesion:hover {
  background-color: var(--color-bg-secondary);
}
