.footer-container {
  margin-top: 1.5rem;
  width: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.links .social-media {
  display: flex;
  gap: 1.2rem;
  font-size: 2rem;
  padding-right: 2.5rem;
}
.copyright {
  width: 100%;
  text-align: center;
}
/* ========== RESPONSIVE - MOBILE ========== */
@media(max-width:600px){
  .links{
    flex-direction: column;
    align-content: center;
  }
  .links .social-media{
    padding-right: 0;
    justify-content: center
  }
  .enlaces-footer ul{
    justify-content: center; 
    padding:0;
  }
}