.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-container nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header-container nav .sesion {
  padding: 0.5rem;
  background-color: var(--color-bg);
  border-radius: 8px;
  border: solid 1px var(--color-text);
  color: var(--color-text);
}
.header-container nav .sesion:hover {
  background-color: var(--color-bg-secondary);
}
