.signup {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.signup small {
  text-align: center;
}
.signup hr {
  width: 100%;
  border-width: 0;
  height: 1px;
  background-color: var(--color-secondary);
}