:root {
  /*Colores base */
  --color-bg: #1f1d2b;
  --color-bg-secondary: #3c3952;
  --color-text: #fff;
  --color-primary: #3081edcc;
  --color-secondary: #6b7280;
  --color-selected: #9b51e0;

  /*Degradado principal */
  --gradient-primary: linear-gradient(135deg, #9b51e0 0%, #3081edcc 80%);

  /*Tipografía */
  --font-sans: "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.6;

  /*Layout */
  --container-width: 1200px;
  --padding-base: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-bg);
  color: var(--color-text);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Contenedor principal para el contenido */
#root {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto; /* centra horizontalmente */
  padding: var(--padding-base);
  display: flex;
  flex-direction: column;
}

/* input */
input {
  width: 300px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  padding-inline: 5px;
}
input::placeholder {
  color: var(--color-secondary);
  padding-left: 5px;
}
input:focus {
  outline: 1px solid var(--color-selected);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
