:root {
  /* Colores base */
  --color-bg: #1f1d2b;
  --color-bg-secondary: #3c3952;
  --color-bg-3:#14121f;
  --color-text: #fff;
  --color-primary: #3081edcc;
  --color-secondary: #6b7280;
  --color-selected: #9b51e0;

  /* Degradado principal */
  --gradient-primary: linear-gradient(135deg, #9b51e0 0%, #3081edcc 80%);
  --gradient-primary-180: linear-gradient(45deg, #9b51e0 0%, #3081edcc 80%);
  --gradient-bg: linear-gradient(180deg, #08070d 0%, #1f1d2b 80%);

  /* Tipografía */
  --font-sans: "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.6;

  /* Layout */
  --container-width: 1200px;
  --padding-base: 1rem;
  /*Status*/
  --open: #32ce06;
  --cancel: #e05151;
  --finish: #09e2ff;
  --desactivate: #a8a8aa;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-bg);
  color: var(--color-text);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Contenedor global del contenido */
.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--padding-base);
  box-sizing: border-box;
}

/* Header y Footer con ancho completo */
header,
footer {
  width: 100%;
}
footer {
  background: var(--gradient-bg);
}
/* El contenido interno de header y footer centrado */
header .inner,
footer .inner {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--padding-base);
  box-sizing: border-box;
}

/* input */
input {
  width: 300px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  padding-inline: 5px;
}
input::placeholder {
  color: var(--color-secondary);
  padding-left: 5px;
}
input:focus {
  outline: 1px solid var(--color-selected);
}

ul,
ol {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
a:hover {
  color: var(--color-selected);
}
